

<form action="#" class="form-horizontal" id="addEvent-form-wizard-validation">
   <div class="form-wizard" id="addEvent-form-wizard">
   
      <!-- Home - EventsManagement - Events - Container - MainContent - eventsTable - addFormWizard - navbar -->
      <%= partial partials_desktop_home_eventsManagement_events + "/events-addForm-partials/_home-events-management-container-mainContent-eventsTable-formWizard-navbar" %>

      <!-- Home - EventsManagement - Events - Container - MainContent - eventsTable - addFormWizard - progressBar -->
      <%= partial partials_desktop_home_eventsManagement_events + "/events-addForm-partials/_home-events-management-container-mainContent-eventsTable-formWizard-progressBar" %>
      
      <div class="tab-content">
         
        <!-- Home - EventsManagement - Events - Container - MainContent - eventsTable - addFormWizard - tab1 -->
        <%= partial partials_desktop_home_eventsManagement_events + "/events-addForm-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab1" %>

        <!-- Home - EventsManagement - Events - Container - MainContent - eventsTable - addFormWizard - tab2 -->
        <%= partial partials_desktop_home_eventsManagement_events + "/events-addForm-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab2" %>

        <!-- Home - EventsManagement - Events - Container - MainContent - eventsTable - addFormWizard - tab3 -->
        <%= partial partials_desktop_home_eventsManagement_events + "/events-addForm-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab3" %>

        <!-- Home - EventsManagement - Events - Container - MainContent - eventsTable - addFormWizard - tab4 -->
        <%= partial partials_desktop_home_eventsManagement_events + "/events-addForm-partials/_home-events-management-container-mainContent-eventsTable-formWizard-tab4" %>
         
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2">
            <a href="javascript:;" class="btn button-previous">Back</a>
            <a href="javascript:;" class="btn btn-primary button-next">Continue</a>
            <a href="javascript:;" class="btn btn-success button-submit finish goto-default">Submit</a>
        </div>
      </div>
   </div>
</form>

